/*
 * For the SlamRunner color pallete, go to:
 * http://design-seeds.com/index.php/home/entry/building-brights
 */ 

/* @import url(http://fonts.googleapis.com/css?family=Domine:400,700); */

html, body {
  background-color: #addde3;
  color: #705d70;
  font-family: 'Domine', 'Arial', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

button, input, select {
  background-color: #f2eae1;
  border: 1px solid #705d70;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  margin: 5px;
  padding: 10px;
}

button {
  cursor: pointer;
  width: 75px;
}

button:hover {
  background-color: #1b90de;
}

input.score {
  text-align: center;
  width: 65px;
}

input.input-error {
  border-color: #fa2c25;
}

span#total-score {
  font-weight: bold;
}

span#timer-face {
  display: inline-block;
  font-size: 2em;
  margin: 5px;
  vertical-align: middle;
  width: 200px;
}

span.timer-face-error {
  color: #fa2c25;
}

div#score-calculator {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

div#poet-list {
  float: left;
  position: relative;
}

select#poet-select, input#poet-name-input {
  display: block;
  width: 250px;
}

button.poet-list-button {
  height: 50px;
  margin-top: 0;
  width: 50px;
}

button#add-poet-button {
  position: absolute;
  right: 0;
}
