/*
 * For the SlamRunner color pallete, go to:
 * http://design-seeds.com/index.php/home/entry/building-brights
 */ 

@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);

html, body {
  background-color: #addde3;
  color: #705d70;
  font-family: 'Anonymous Pro', 'Arial', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 2em;
  margin-top: 2em;
}

a, a:visited {
  color: #705d70;
  background-color: #1b90de;
}

a:active, a:hover {
  color: #f0dca6;
}

button, input, select {
  background-color: #f2eae1;
  border: 1px solid #705d70;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  margin: .25em;
  padding: .5em;
}

button {
  cursor: pointer;
  width: 5em;
}

button:hover {
  background-color: #1b90de;
}

input.input-error {
  border-color: #fa2c25;
}

div#slam-setup {
  display: block;
  text-align: center;
}

select#add-poets-list {
  display: block;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
}

input#poet-name-input {
  display: inline-block;
  width: 25em;
}

input.score {
  text-align: center;
  width: 4em;
}

span#total-score {
  font-weight: bold;
}

span#timer-face {
  display: inline-block;
  font-size: 2em;
  margin: .25em;
  text-align: center;
  vertical-align: middle;
  width: 5em;
}

span.timer-face-error {
  color: #fa2c25;
}

div#current-info,
div#score-calculator,
div#birds-eye,
ol#final-scores {
  display: none;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 28em;
}

div#birds-eye ol {
  margin-top: 0;
}

div#poet-nav {
  background-color: #1b90de;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: .25em;
  text-align: center;
  width: 25em;
}

div#poet-nav div {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  width: 10em;
}

div#poet-nav div#poet-nav-left {
  border-right: 1px solid #705d70;
  text-align: right;
}

div#poet-nav div#poet-nav-right {
  border-left: 1px solid #705d70;
  text-align: left;
}

span.current-poet {
  background-color: #1b90de;
  color: #f0dca6;
}

div#feedback {
  font-size: .85em;
  font-weight: bold;
  padding: .15em;

  position: absolute;
  bottom: 0;
  right: 0;
}
