<div id="poet-list">
  <select id="poet-list-select" size="20">
    <option value="muggs">Muggs</option>
    <option value="marshall">Marshall</option>
    <option value="vatic">Vatic</option>
    <option value="sabine">Sabine</option>
    <option value="franny">Franny</option>
  </select>
  <input id="poet-name-input" placeholder="Enter a poet name..." type="text" />
  <button id="add-poet-button" class="poet-list-button">+</button>
  <button id="remove-poet-button" class="poet-list-button">-</button>
</div>
