<input
    class="score"
    maxlength="4"
    onchange="validateScores();"
    type="text"
    value="0.0" />
<input
    class="score"
    maxlength="4"
    onchange="validateScores();"
    type="text"
    value="0.0" />
<input
    class="score"
    maxlength="4"
    onchange="validateScores();"
    type="text"
    value="0.0" />
<input
    class="score"
    maxlength="4"
    onchange="validateScores();"
    type="text"
    value="0.0" />
<input
    class="score"
    maxlength="4"
    onchange="validateScores();"
    type="text"
    value="0.0" />
<span id="total-score">0.0</span>
